@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 330 86% 5%;
    --card: 0 0% 100%;
    --card-foreground: 330 86% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 330 86% 5%;
    --primary: 322 100% 34%;
    --primary-foreground: 330 100% 98%;
    --secondary: 330 14% 95%;
    --secondary-foreground: 330 86% 5%;
    --muted: 330 14% 95%;
    --muted-foreground: 330 10% 40%;
    --accent: 330 14% 95%;
    --accent-foreground: 330 86% 5%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 330 14% 90%;
    --input: 330 14% 90%;
    --ring: 322 100% 34%;
  }

  .dark {
    --background: 330 15% 10%;
    --foreground: 330 100% 98%;
    --card: 330 15% 10%;
    --card-foreground: 330 100% 98%;
    --popover: 330 15% 10%;
    --popover-foreground: 330 100% 98%;
    --primary: 322 100% 34%;
    --primary-foreground: 330 100% 98%;
    --secondary: 330 13% 18%;
    --secondary-foreground: 330 100% 98%;
    --muted: 330 13% 18%;
    --muted-foreground: 330 11% 65%;
    --accent: 330 13% 18%;
    --accent-foreground: 330 100% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 330 13% 18%;
    --input: 330 13% 18%;
    --ring: 322 100% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
