@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 96%; /* Light Gray */
    --foreground: 215 28% 17%; /* Squid Ink */

    --card: 0 0% 100%; /* White */
    --card-foreground: 215 28% 17%; /* Squid Ink */

    --popover: 0 0% 100%; /* White */
    --popover-foreground: 215 28% 17%; /* Squid Ink */

    --primary: 36 100% 50%; /* Smile Orange */
    --primary-foreground: 215 28% 17%; /* Squid Ink */

    --secondary: 220 13% 91%;
    --secondary-foreground: 215 28% 17%;

    --muted: 220 13% 91%;
    --muted-foreground: 215 18% 43%;

    --accent: 220 13% 91%;
    --accent-foreground: 215 28% 17%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 36 100% 50%; /* Smile Orange */
    --radius: 0.5rem;

    /* New variables from calendar component */
    --context-card-border: hsla(0, 0%, 92%, 1);
    --ds-blue-900: oklch(53.18% 0.2399 256.9900584162342);
    --ds-gray-200: hsla(0, 0%, 92%, 1);
    --ds-gray-alpha-100: rgba(0, 0, 0, 0.05);
    --ds-gray-alpha-300: hsla(0, 0%, 0%, 0.1);
    --accents-2: #eaeaea;
    --ds-focus-calendar-date-ring: 0 0 0 1px var(--ds-background-100), 0 0 0 2.5px var(--ds-gray-1000);
    --ds-red-800: oklch(58.19% 0.2482 25.15);
    --ds-red-900: oklch(54.99% 0.232 25.29);
    --ds-blue-700: oklch(57.61% 0.2508 258.23);
    --ds-amber-800: oklch(77.21% 0.1991 64.28);
    --ds-amber-850: hsl(33, 96%, 42%);
    --ds-gray-100: hsla(0, 0%, 95%, 1);
    --ds-gray-400: hsla(0, 0%, 92%, 1);
    --ds-gray-700: hsla(0, 0%, 56%, 1);
    --ds-gray-1000: hsla(0, 0%, 9%, 1);
    --ds-gray-1000-h: hsl(0, 0%, 22%);
    --ds-gray-alpha-200: hsla(0, 0%, 0%, 0.08);
    --ds-gray-alpha-400: hsla(0, 0%, 0%, 0.08);
    --ds-background-100: hsla(0, 0%, 100%, 1);
    --ds-focus-color: var(--ds-blue-700);
    --ds-focus-ring: 0 0 0 2px var(--ds-background-100), 0 0 0 4px var(--ds-focus-color);
    --ds-shadow-border: 0 0 0 1px rgba(0, 0, 0, 0.08);
    --ds-shadow-small: 0px 2px 2px rgba(0, 0, 0, 0.04);
    --ds-shadow-border-small: var(--ds-shadow-border), var(--ds-shadow-small);
    --ds-shadow-medium: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 8px -8px rgba(0, 0, 0, 0.04);
    --ds-shadow-border-medium: var(--ds-shadow-border), var(--ds-shadow-medium);
    --ds-shadow-large: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 16px -4px rgba(0, 0, 0, 0.04);
    --ds-shadow-border-large: var(--ds-shadow-border), var(--ds-shadow-large);
    --ds-shadow-tooltip: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px rgba(0, 0, 0, 0.04);
    --ds-shadow-menu: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px -4px rgba(0, 0, 0, 0.04), 0px 16px 24px -8px rgba(0, 0, 0, 0.06);
    --ds-shadow-modal: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px -4px rgba(0, 0, 0, 0.04), 0px 24px 32px -8px rgba(0, 0, 0, 0.06);
    --ds-shadow-fullscreen: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px -4px rgba(0, 0, 0, 0.04), 0px 24px 32px -8px rgba(0, 0, 0, 0.06);
    --ds-red-300: oklch(94.33% 0.0369 15.011509923860523);
    --ds-red-500: oklch(84.47% 0.1018 17.71);
    --ds-gray-900: hsla(0, 0%, 40%, 1);
    --ds-gray-alpha-500: hsla(0, 0%, 0%, 0.21);
    --ds-gray-alpha-600: hsla(0, 0%, 0%, 0.34);
    --ds-background-200: hsla(0, 0%, 98%, 1);
    --geist-foreground: #000;
    --ds-input-ring: 0 0 0 1px var(--ds-gray-alpha-600), 0 0 0 4px rgba(0, 0, 0, .16);
    --ds-input-error-ring: 0 0 0 1px var(--ds-red-900), 0 0 0 4px var(--ds-red-300);
    --ds-input-error-hover-ring: 0 0 0 1px var(--ds-red-900), 0 0 0 4px var(--ds-red-500);
    --ds-red-900-alpha-160: hsla(358,66%,48%,.16);
    --geist-error: #ee0000;
  }

  .dark {
    --background: 215 28% 17%; /* Squid Ink */
    --foreground: 0 0% 98%; /* White */

    --card: 215 28% 22%; /* Slightly lighter Squid Ink */
    --card-foreground: 0 0% 98%;

    --popover: 215 28% 22%;
    --popover-foreground: 0 0% 98%;

    --primary: 36 100% 50%; /* Smile Orange */
    --primary-foreground: 215 28% 17%; /* Squid Ink */
    
    --secondary: 215 28% 22%;
    --secondary-foreground: 0 0% 98%;

    --muted: 215 28% 22%;
    --muted-foreground: 220 13% 69%;

    --accent: 215 28% 22%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --ring: 36 100% 50%; /* Smile Orange */

    /* New variables from calendar component */
    --context-card-border: hsla(0, 0%, 18%, 1);
    --ds-blue-900: oklch(71.7% 0.1648 250.79360374054167);
    --ds-gray-200: hsla(0, 0%, 12%, 1);
    --ds-gray-alpha-100: rgba(255, 255, 255, 0.06);
    --ds-gray-alpha-300: hsla(0, 0%, 100%, 0.13);
    --accents-2: #333333;
    --ds-red-800: oklch(58.01% 0.227 25.12);
    --ds-red-900: oklch(69.96% 0.2136 22.03);
    --ds-gray-100: hsla(0, 0%, 10%, 1);
    --ds-gray-400: hsla(0, 0%, 18%, 1);
    --ds-gray-700: hsla(0, 0%, 56%, 1);
    --ds-gray-1000: hsla(0, 0%, 93%, 1);
    --ds-gray-1000-h: hsl(0, 0%, 80%);
    --ds-gray-alpha-200: hsla(0, 0%, 100%, 0.09);
    --ds-gray-alpha-400: hsla(0, 0%, 100%, 0.14);
    --ds-background-100: hsla(0,0%,4%, 1);
    --ds-shadow-border: 0 0 0 1px rgba(255, 255, 255, 0.145);
    --ds-shadow-small: 0px 1px 2px rgba(0, 0, 0, 0.16);
    --ds-shadow-border-small: var(--ds-shadow-border), 0px 1px 2px rgba(0, 0, 0, 0.16);
    --ds-shadow-medium: 0px 2px 2px rgba(0, 0, 0, 0.32), 0px 8px 8px -8px rgba(0, 0, 0, 0.16);
    --ds-shadow-border-medium: var(--ds-shadow-border), 0px 2px 2px rgba(0, 0, 0, 0.32), 0px 8px 8px -8px rgba(0, 0, 0, 0.16);
    --ds-shadow-large: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 16px -4px rgba(0, 0, 0, 0.04);
    --ds-shadow-border-large: var(--ds-shadow-border), 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 16px -4px rgba(0, 0, 0, 0.04);
    --ds-shadow-tooltip: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px rgba(0, 0, 0, 0.04);
    --ds-shadow-menu: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 4px 8px -4px rgba(0, 0, 0, 0.04), 0px 16px 24px -8px rgba(0, 0, 0, 0.06);
    --ds-shadow-modal: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px -4px rgba(0, 0, 0, 0.04), 0px 24px 32px -8px rgba(0, 0, 0, 0.06);
    --ds-shadow-fullscreen: var(--ds-shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 8px 16px -4px rgba(0, 0, 0, 0.04), 0px 24px 32px -8px rgba(0, 0, 0, 0.06);
    --ds-red-300: oklch(31.47% 0.1105 20.96);
    --ds-red-500: oklch(40.68% 0.1479 23.16);
    --ds-gray-900: hsla(0, 0%, 63%, 1);
    --ds-gray-alpha-500: hsla(0, 0%, 100%, 0.24);
    --ds-gray-alpha-600: hsla(0, 0%, 100%, 0.51);
    --ds-background-200: hsla(0, 0%, 0%, 1);
    --geist-foreground: #fff;
    --ds-input-ring: 0 0 0 1px var(--ds-gray-alpha-600), 0 0 0 4px rgba(255, 255, 255, .24);
    --ds-red-900-alpha-160: hsla(358,100%,69%,.16);
    --geist-error: #ff0000;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
