@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 98%;
    --foreground: 0 0% 10.2%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10.2%;
    --primary: 275 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 92%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 285 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 72.2% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 86.3%;
    --input: 0 0% 86.3%;
    --ring: 285 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 240 10% 98%;
    --sidebar-foreground: 0 0% 10.2%;
    --sidebar-primary: 275 100% 25%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 10% 92%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 0 0% 86.3%;
    --sidebar-ring: 285 100% 55%;
  }

  .dark {
    --background: 220 10% 5%;
    --foreground: 0 0% 96.1%;
    --card: 215 28% 13%;
    --card-foreground: 0 0% 96.1%;
    --popover: 215 28% 13%;
    --popover-foreground: 0 0% 96.1%;
    --primary: 285 100% 60%;
    --primary-foreground: 0 0% 10%;
    --secondary: 215 28% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 28% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 285 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 20%;
    --input: 215 28% 20%;
    --ring: 285 100% 55%;

    --sidebar-background: 220 10% 5%;
    --sidebar-foreground: 0 0% 96.1%;
    --sidebar-primary: 285 100% 60%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 215 28% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 215 28% 20%;
    --sidebar-ring: 285 100% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}